<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Sobre Nosotros</h2>
  <p>
    esto es para ver ciclas 
    </p>

  {{#link-to 'ciclas' class="button"}}
    ver contacto para la cicla!
  {{/link-to}}
</div>

{{outlet}}
