<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contáctanos</h2>
  <p>CIclas!.<br>Llámanos o escríbenos y realiza la preguntas que desees.</p>
  <p>
    Alejandro Zambrano
    Contacto
    <address>
      Universidad de Antioquia<br>
      Medellín
    </address>
    <a href="tel:57.3000079944">(57) 300-0079944</a><br>
    <a href="mailto:agents@A007.com">agents@A007.com</a>
  </p>
   {{#link-to 'about' class="button"}}
    ver about!
  {{/link-to}}
</div>
{{outlet}}
